{
  "presets": [
      ["@babel/preset-env", { "modules": "cjs" }]
    ],
  "plugins": [
    ["poggerstylez/babel", { "toFile": "public/app.style.css" }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-export-default-from",
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-transform-react-jsx",
    "./babel/unconcatify",
    "./babel/rightify", "./babel/unitify-react", "./babel/forify"
  ],
  "comments": false
}
