{
  "presets": [
      ["@babel/preset-env", { "modules": "cjs" }],
      "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-export-default-from",
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-transform-react-jsx",
    "./babel/hashify", "./babel/rightify", "./babel/unitify-react"
  ],
  "comments": false
}
