{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "react/jsx-key": "off",
    "indent": ["error", 2],
    "max-len": ["error", 80, 2],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "no-console": "off",
    "no-extra-boolean-cast": "off"
  }
}
