node_modules/
build/
.idea/
dist/
/**/public/*.js*
public/dashboard*.js*
/**/public/*.css
assets/app*.css*
public/uploads/
public/sitemap.txt
public/profile-pix/
public/site-icon/
server.bundle.js*
/**/.DS_Store
coverage/
.nyc_output
/**/documents/**/*.enigma
/**/profiles/*.enigma
sitemap/*.enigma
/**/site-files/
