before_install:
- sudo apt-get install graphicsmagick -y; sudo rm -rf node_modules; npm install --no-optional --force
language: node_js
node_js:
  - node
cache:
  directories:
  - node_modules
os:
- linux
script: npm run test-with-coverage
services:
- mongodb