before_install:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install graphicsmagick -y; fi; rm -rf node_modules; npm install --no-optional; cd addons/murmur; CC="g++ -I$(cd ../../ && pwd)/node_modules/node-addon-api" npm install -g node-gyp; node-gyp rebuild; cd ../../;
language: node_js
node_js:
  - node
cache:
  directories:
  - node_modules
os:
- linux
script: npm run test-with-coverage
services:
- mongodb
